@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: 0;
  /* outline: 1px solid red; */
}

*::-webkit-scrollbar {
  display: none;
  width: 0;
}

input,
textarea {
  border: 0;
  outline: 0;
}

input:focus,
textarea:focus {
  border: 0;
  outline: 0;
}

.section {
  @apply px-[5%] py-[2.5%];
}

.pry_btn {
  @apply rounded-full border  bg-gradient-to-r from-[#bfbfbf] to-[#fc814a] py-2 px-5 text-white-pry transition-all duration-300 hover:opacity-90 font-semibold text-center text-sm sm:text-base md:text-lg flex items-center justify-center;
}

.white_btn {
  @apply rounded-full border py-2 px-5 border-white-pry bg-black-pry text-white-sec hover:bg-white-pry hover:text-black-sec transition-all duration-300 font-semibold text-center text-sm sm:text-base md:text-lg flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border py-2 px-5 text-black-pry bg-white-pry transition-all hover:border-white-pry hover:bg-black-pry hover:text-white text-center duration-300 font-semibold text-sm sm:text-base md:text-lg flex items-center justify-center;
}

.head_text {
  @apply text-xl sm:text-2xl font-bold md:text-3xl lg:text-4xl text-white-pry;
}

.title_text {
  @apply text-lg font-semibold md:font-bold sm:text-xl md:text-2xl xl:text-3xl text-white-pry;
}

.body_text {
  @apply text-base md:text-xl font-medium text-white-sec;
}

.tiny_text {
  @apply text-xs sm:text-sm md:text-base font-medium text-white-sec;
}

.nav_link {
  @apply text-base md:text-lg text-white-sec hover:text-white hover:opacity-90 font-semibold;
}

.blue_gradient {
  @apply bg-gradient-to-r from-[#bfbfbf] to-[#fc814a];
}

.blue_gradient_text {
  @apply bg-gradient-to-r from-[#bfbfbf] to-[#fc814a] text-transparent bg-clip-text;
}
/* 
.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
} */

.input_form {
  @apply flex flex-col gap-2 sm:gap-3 items-stretch justify-center;
}

.form_label {
  @apply font-semibold text-base md:text-xl text-white-sec;
}

.form_textarea {
  @apply w-full h-40 p-4 bg-black-sec rounded-md text-white-sec;
}

.form_input {
  @apply w-full p-4 bg-black-sec rounded-md placeholder:text-base placeholder:font-semibold text-white-sec;
}

.logo_text {
  @apply cursor-pointer font-semibold md:font-bold text-lg md:text-xl text-white-pry tracking-wide uppercase;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

@media (max-width: 780px) {
  .section {
    @apply p-[5%];
  }
}
