@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.vollkorn {
  font-family: "Vollkorn", "Courier New", Courier, monospace;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* outline: 1px solid red; */
  @apply duration-300 ease-in-out transition-all;
  font-family: "Manrope", "Courier New", Courier, monospace;
  color: #282828;
}

*::-webkit-scrollbar {
  display: none;
  width: 0;
}
